.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

    
    border: 500px;
    border-radius: 20px;
    border-color: #000000;
    border-width: 1px;
    border-style : solid;

    background-color: #F3F3F3;
    height: 500px;
    margin-left:  30%;
    margin-right: 30%;
}
.cardactiv1 {
    padding-bottom: 15%;
}
.namehour {
    display: flex;
    justify-content: space-between;
    height: 0px;
    font-size: xx-large;
    margin: 30% 2% 0% 2%;
    background-color: #00004D;
}
h1 {
    padding-left: 10px;
    padding-bottom: 0%;
    color: #00004D;
    align-items: center;
    margin-top: 10px;
    
}
.hour {
    text-align: end;
    padding-bottom: 30%;
    padding-right: 10px;
}

.list {
    margin: 20% 0% 20% 6%;
    font-size: x-large;
}
.Athlete1 {
    text-align: start;
}
p {
    color: #000000;
}